{% extends "base.html" %}
{% block title %}Celebrity Death Counter{% endblock %}

{% block content %}

  {% if days_since %}
    <div class="title-wrapper">

      {% if days_since == 1}
        <h1 class="title text-center">{{ days_since }} day</h1>
      {% else %}
        <h1 class="title text-center">{{ days_since }} days</h1>
      {% endif %}

      {% if person %}
        <h2 class="subtitle text-center">since the death of</h2>
        <h2 class="name text-center">{{ person }} </h2>
      {% endif %}

    </div>
  {% endif %}

{% endblock %}
